<form class="dialog" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Create user</h2>

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="username" placeholder="Username" />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email" />
  </mat-form-field>
  <div>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Create</button></div>
</form>
