<form class="dialog" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Edit user</h2>
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="username" placeholder="Username" />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email" />
  </mat-form-field>
  <div>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit">Edit</button>
  </div>

</form>
